--extra-index-url=https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
fastapi[all]==0.115.13
pandas==2.3.0
pydantic==2.11.7
uvicorn==0.34.3
Jinja2==3.1.6
pydantic_settings==2.10.0

